.containerHeaderClaro{
    width: 100%;
    height: auto;
    padding: 22px;
    background-color: #FFF;
    position: fixed;
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerHeaderEscuro{
    width: 100%;
    height: auto;

    background-color: #252525;
    position: fixed;
    padding: 22px;
}

.imgLogo{
    width: 50px;
    height: 35px;
}

.iconesBtn{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnTemaClaro{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgb(167, 162, 162);
    background-color: #fff;

}

.btnTemaEscuro{
    padding: 10px;
    border-radius: 50%;
    border: 0.1px solid #444242;
    background-color: #252525;
}




